<!DOCTYPE html>
<html>
    <div class= "container">
        <head>
            <body>
                <center><h1>Turners Remove Punctuation</h1>
                <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Stylize.css') }}" >
                <form action = "#" method = "post">
                    <p style = "color:rgb(38, 9, 119); font-size:21px">This website removes punctuation from entered strings </p>
                    <p style = "color:rgb(38, 9, 119); font-weight: bold; font-size: 20px; padding-right:10px">Search: <input type = "text" name = "input"/></p>
                    <p><input type = "submit" value = "submit"/></p>
                    <p>{{user_input}}</p>        
                </center>
                </form>
            </body>   
        </head>
    </div>
</html>
